.contacts-wrapper {
    margin: 150px auto;
    &__socials {
      &--visibility {
        margin: 0 auto;
        @include mq-tablet {
          display: none;
        }
      }      
    }
    @include mq-tablet {
      width: 60%;
      margin: 200px auto 100px;
    }    
  }

  .contacts {
    &__title {
      text-align: center;
      margin: 0 auto; 
    }
    &__subtitle {
      margin: 50px auto 80px;   
    }
    &__form {
      width: 378px;
      height: 669px;
      border: 1px solid #dddddd;
      box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
      border-radius: 20px;
      text-align: center;
      margin: 0 auto;      
    }
    &__input {
      width: 280px;
      height: 54px;
      margin-bottom: 45px;
      padding-left: 20px;
    }
    &__textarea {
      width: 280px;
      height: 193px;
      background-color: $c-input;
      padding: 23px 20px;
      border: none;
      resize: none;
      margin-bottom: 45px;
    }
    &__socials{
      &--visibility {
        display: none;
        @include mq-tablet {
          display: flex;
        }
      }
    }
    &__title {
      margin-top: 52px;
      margin-bottom: 45px;
      font-size: $fs-h3;
      font-weight: $fw-bold;
    }
    &__btn {
      width: 145px;
      margin-left: 20px;
    }
    @include mq-tablet {
      display: flex;
      justify-content: space-between;
      &__form {
        width: 34%;
        height: 669px;
      }
      &__input {
        width: 353px;
        margin-bottom: 45px;
        padding-left: 20px;
      }
      &__textarea {
        width: 353px;
        height: 193px;
      }
    }   
  } 

  .location {    
    &__text {
      font-size: $fs-h5;
      font-weight: $fw-regular;
      margin-top: 20px;
      &--mobile {
        margin-top: 0;
        margin-left: 30px;
      }
    }
    &__map {
      display: none;
      &--pos {
        width: 516px;
        height: 343px;
        border: none;
      }
    }
    &__icons {
      display: none;
      &--mobile {
        width: 349px;
        margin: 50px auto;
      }
    }
    &__item--mobile {
      display: flex;
      margin-bottom: 15px;
    }
    @include mq-tablet {
      width: 60%;
      &__map {
        display: block;
        margin: 60px 105px;
      }
      &__icons {
        width: 100%;
        display: flex;
        justify-content: space-between;
        text-align: center;
        &--mobile {
          display: none;
        }
      }
      &__item {
        &:first-child {
          width: 280px;
        }
        &:last-child {
          margin-top: 10px;
        }
      }
    }
  }