  .features-wrapper {
    &__title {
      text-align: center;
      margin: 0 auto; 
    }
    &__subtitle {
      margin: 50px auto 80px;   
    }
  }
  
  .features {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    &--pos {
      margin: 0 auto;
    }
    @media (min-width: 768px) {
      width: 50%;
    }
    &__cards-wrapper {    
      width: 255px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      order: 2;
      &--pos {
        margin: 80px auto;
      }
        @media (min-width: 768px) {
          width: 100%;
          flex-wrap: nowrap;
          order: 1;
        }
      }
      &__card {
        text-align: center;
        &--pos {
          margin: 20px;
        }
      }
      &__title {
        font-size: $fs-h3;
        font-weight: $fw-bold;
        &--pos {
          margin: 10px 0;
        }
      }
      &__subtitle {
        font-size: $fs-p;
        font-weight: $fw-regular;
      }
  }
  
  .video {
    order: 1;
    min-width: 350px;
    height: 216px;
    border: none;
    border-radius: 30px;
    box-shadow: 0px 25px 30px 20px rgba(34, 60, 80, 0.2);
    &--pos {
      margin: 50px auto;
    }
      @media (min-width: 768px) {
        order: 2;
        width: 760px;
        height: 500px;
        &--pos {
          margin: 0 auto;
        }
      }
  }