.hero {
    width: 80%;
    &--pos {
      margin: 30px auto;
    }

    &__title {
      margin-top: 20px;
      margin-bottom: 20px;
      @include mq-tablet {
        text-align: left;
      }
    }

    &__subtitle {
      text-align: center;
      width: 90%;
      margin: 0 auto;
      @include mq-tablet {
        text-align: left;
      }
    }
    @include mq-tablet {
      width: 70%;
      @include df-sb;
      &--pos {
        margin: 100px auto;
      }
    }
    @include mq-desktop {
      width: 60%;
      // &--pos {
      //   margin: 226px auto;
      // }
    }
    &__left-block {
      width: 100%;
      margin: 0 auto;
      @include mq-tablet {
        width: 50%;
      }
      &--mobile {
        text-align: center;
      }
    }
    &__btn {
      margin: 60px auto;
      @include mq-tablet {
        margin-left: 0;
      }
    }
    &__img {
      display: block;
      max-width: 100%;
      max-height: 210px;
      margin: 0 auto;
      text-align: center;
      @include mq-tablet {
        height: 300px;
      }
    }  
  }