.subscribe {
    width: 80%;
    display: flex;
    margin: 80px auto;
    text-align: center;
    @include mq-tablet {
      width: 70%;
      justify-content: space-between;
      text-align: left;
    }
    &__desktop {
      display: none;
      @include mq-tablet {
        display: block;
        width: 50%;
      }
    }
    &__mobile {
      max-width: 355px;
      margin: 60px auto;
      @include mq-tablet {
        display: none;
      }
    }
    &__btn {
      width: 353px;
      height: 54px;
      margin-top: 12px;
      @include mq-tablet {
        width: 172px;
        height: 58px;
        margin-left: 12px;
        margin-top: 0;
      }
    }
    &__form {
      margin-top: 35px;
      margin-bottom: 35px;
    }
    &__input {
      width: 353px;
      height: 54px;
      padding-left: 39px;
      @include mq-tablet {
        width: 273px;
      }
    }
  }

  .subscribe-text {
    padding-top: 50px;
    &__title {
      text-align: left;
    }
    &__header {
    @include font-card-title;
    @include mq-tablet {
      margin-bottom: 17px;
    }
   }
   &__description {
     @include font-card-subtitle;
   }
    &--hidden {
      @include mq-tablet {
        display: none;
      }      
  }
}

  .form {
    display: flex;
    flex-wrap: wrap;    
    @include mq-tablet {
      flex-wrap: nowrap;
    }
  }

  .input {    
    border: none;
    border-radius: 27px;
    background-color: $c-input;    
  }