.testimonials {
    margin: 100px auto;
    @media (min-width: 768px) {
      margin: 180px auto;
    }
    &__img {
      display: flex;
      margin: 95px auto 45px;
      @media (min-width: 768px) {
        margin: 80px auto 60px;
      }
    }
    &__title {
      text-align: center;
      margin: 0 auto; 
    }
    &__subtitle {
      margin: 50px auto 80px;   
    }
  }
    
  .avatar {
    width: 200px;
    height: 55px;
    display: flex;
    justify-content: space-between;
    margin: 60px auto 80px;
    &__title {
      align-items: center;
      font-size: $fs-h5;
      font-weight: $fw-regular;
      margin: 5px 0;
    }
    &__description {
      align-items: center;
      font-size: $fs-link;
      font-weight: $fw-regular;
    }
  }