.contacts-wrapper {
    margin: 150px auto;
  }

  .contacts__form {
    width: 378px;
    height: 669px;
    border: 1px solid #dddddd;
    box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
    border-radius: 20px;
    text-align: center;
    margin: 0 auto;
  }
  
  .form__title {
    margin-top: 52px;
    margin-bottom: 45px;
    font-size: var(--fs-h3);
    font-weight: var(--fw-bold);
  }
  
  .contacts__form--input {
    width: 280px;
    margin-bottom: 45px;
    padding-left: 20px;
  }
  
  .contacts__form--textarea {
    width: 280px;
    height: 193px;
    background-color: var(--c-input);
    padding: 23px 20px;
    border: none;
    resize: none;
    margin-bottom: 45px;
  }

  .location__text {
    font-size: var(--fs-h5);
    font-weight: var(--fw-regular);
    margin-top: 20px;
  }
  
  .location__text--mobile {
    margin-top: 0;
    margin-left: 30px;
  }
  
  .location__map {
    display: none;
  }
  
  .location__map--google {
    width: 516px;
    height: 343px;
    border: none;
  }
  
  .socials__item--color:hover {
    transform: scale(1.1);
  }

  .socials__mobile {
    width: 170px;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--c-blue);
    font-size: var(--fs-h3);
  }

  .socials__item--color {
    color: var(--c-blue);
  }
  
  .location__icons {
    display: none;
  }

  .location__icons--mobile {
    width: 349px;
    margin: 50px auto;
  }
  
  .location__item--mobile {
    display: flex;
    margin-bottom: 15px;
  }

@media (min-width: 768px) {
    
  .contacts-wrapper {
    width: 60%;
    margin: 200px auto 100px;
  }

  .contacts {
    display: flex;
    justify-content: space-between;
  }

  .contacts__form {
    width: 34%;
    height: 669px;
  }

  .contacts__form--input {
    width: 353px;
    margin-bottom: 45px;
    padding-left: 20px;
  }

  .contacts__form--textarea {
    width: 353px;
    height: 193px;
  }

  .location__map {
    display: block;
    margin: 60px 105px;
  }

  .location {
    width: 60%;
  }

  .location__icons {
    width: 100%;
    display: flex;
    justify-content: space-between;
    text-align: center;
  }

  .location__icons--mobile {
    display: none;
  }

  .contacts-nav__socials {
    display: flex;
  }

  .location__item:first-child {
    width: 280px;
  }

  .location__item:last-child {
    margin-top: 10px;
  }

  .socials__mobile {
    display: none;
  }

  .socials__item--color {
    color: var(--c-blue);
  }
}