.contacts-wrapper {
    margin: 150px auto;
  }
  
  .contacts-text {
    margin-bottom: 50px;
  }
  
  .contacts-form {
    width: 378px;
    height: 669px;
    border: 1px solid #dddddd;
    box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
    border-radius: 20px;
    text-align: center;
    margin: 0 auto;
  }
  
  .contacts-form__header {
    margin-top: 52px;
    margin-bottom: 45px;
    font-size: var(--fs-h3);
    font-weight: var(--fw-bold);
  }
  
  .contacts-form__input {
    width: 280px;
    margin-bottom: 45px;
    padding-left: 20px;
  }
  
  .contacts-form__textarea {
    width: 280px;
    height: 193px;
    background-color: var(--c-input);
    padding: 23px 20px;
    border: none;
    resize: none;
    margin-bottom: 45px;
  }

  .contacts-location__text,
  .contacts-location__textMobile {
    font-size: var(--fs-h5);
    font-weight: var(--fw-regular);
    margin-top: 20px;
  }
  
  .contacts-location__textMobile {
    margin-top: 0;
    margin-left: 30px;
  }
  
  .contacts-location__map {
    display: none;
  }
  
  .contacts-location__google {
    width: 516px;
    height: 343px;
    border: none;
  }
  
  .contacts-nav__icon:hover,
  .contacts-nav__icon i:hover {
    transform: scale(1.1);
  }
  
  /* .contacts-nav__socials,
  .contacts-nav__socialsMobile {
    width: 170px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--c-blue);
  }
  
  .contacts-nav__socialsMobile {
    margin: 50px auto;
  } */

  .socials__mobile {
    width: 170px;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--c-blue);
    font-size: var(--fs-h3);
  }

  .socials__item--color {
    color: var(--c-blue);
  }
  
  .contacts-nav__socials,
  .contacts-location__icons {
    display: none;
  }
  
  .contacts-nav__icons {
    font-size: var(--fs-h3);
  }
  
  .contacts-nav__icon {
    color: var(--c-blue);
  }
  
  .contacts-location__iconsMobile {
    width: 349px;
    margin: 50px auto;
  }
  
  .contacts-location__itemMobile {
    display: flex;
    margin-bottom: 15px;
  }

@media (min-width: 768px) {
    
  .contacts-wrapper {
    width: 60%;
    margin: 200px auto 100px;
  }

  .contacts {
    display: flex;
    justify-content: space-between;
  }

  .contacts-form {
    width: 34%;
    height: 669px;
  }

  .contacts-form__input {
    width: 353px;
    margin-bottom: 45px;
    padding-left: 20px;
  }

  .contacts-form__textarea {
    width: 353px;
    height: 193px;
  }

  .contacts-location__map {
    display: block;
    margin: 60px 105px;
  }

  .contacts-location {
    width: 60%;
  }

  .contacts-location__icons {
    width: 100%;
    display: flex;
    justify-content: space-between;
    text-align: center;
  }

  .contacts-location__iconsMobile {
    display: none;
  }

  .contacts-nav__socials {
    display: flex;
  }

  .contacts-location__item:first-child {
    width: 280px;
  }

  .contacts-location__item:last-child {
    margin-top: 10px;
  }

  .socials__mobile {
    display: none;
  }

  .socials__item--color {
    color: var(--c-blue);
  }
}