.partners-wrapper {
    margin: 50px auto;
  }
  
  .partners-items {
    width: 275px;
    margin: 80px auto;
    display: flex;
    flex-wrap: wrap;
  }
  
  .partners-items__google1,
  .partners-items__google2,
  .partners-items__amazon1,
  .partners-items__amazon2,
  .partners-items__microsoft,
  .partners-items__uber,
  .partners-items__dropbox {
    text-align: center;
    border: 1px solid #d8d8d8;
  }
  
  .partners-items__text {
    font-size: var(--fs-h5);
    font-weight: var(--fw-regular);
    margin: 20px;
  }
  
  .partners-items__google1 {
    width: 273px;
    height: 151px;
    margin-bottom: 30px;
  }
  
  .partners-items__google2 {
    display: none;
  }
  
  .partners-items__amazon1 {
    width: 273px;
    height: 151px;
    margin-bottom: 30px;
  }
  
  .partners-items__amazon2,
  .partners-items__uber,
  .partners-items__dropbox {
    display: none;
  }
  
  .partners-items__microsoft {
    width: 273px;
    height: 151px;
  }
  
  .partners-items__google1:hover,
  .partners-items__google2:hover,
  .partners-items__amazon1:hover,
  .partners-items__amazon2:hover,
  .partners-items__microsoft:hover,
  .partners-items__uber:hover,
  .partners-items__dropbox:hover {
    border: 1px solid var(--c-blue);
  }

  @media (min-width: 768px) {
  
  .partners-items {
    width: 1084px;
    height: 330px;
  }

  .partners-items__google1,
  .partners-items__google2 {
    width: 273px;
    height: 163px;
    margin: 0;
  }

  .partners-items__google2,
  .partners-items__amazon2 {
    display: block;
  }

  .partners-items__amazon1,
  .partners-items__amazon2 {
    width: 273px;
    height: 160px;
    margin: 0;
  }

  .partners-items__microsoft {
    width: 301px;
    height: 165px;
  }

  .partners-items__uber {
    display: block;
    width: 220px;
    height: 165px;
  }

  .partners-items__dropbox {
    display: block;
    width: 309px;
    height: 164px;
  }
  }