.partners-wrapper {
    margin: 50px auto;
  }
  
  .partners {
    width: 275px;
    margin: 80px auto;
    display: flex;
    flex-wrap: wrap;
  }
  
  .item {
    text-align: center;
    border: 1px solid #d8d8d8;
  }

  .item:hover {
    border: 1px solid var(--c-blue);
  }
  
  .item__text {
    font-size: var(--fs-h5);
    font-weight: var(--fw-regular);
    margin: 20px;
  }
  
  .item__first {
    width: 273px;
    height: 151px;
    margin-bottom: 30px;
  }
  
  .item__second {
    width: 273px;
    height: 151px;
    margin-bottom: 30px;
  }

  .item__third {
    width: 273px;
    height: 151px;
  }
  
  .item__fourth,
  .item__fifth,
  .item__sixth,
  .item__seventh,
  .item__eighth {
    display: none;
  }
    
  @media (min-width: 768px) {
  
  .partners {
    width: 1084px;
    height: 330px;
    margin: 0 auto;
  }

  .item__first,
  .item__sixth {
    width: 273px;
    height: 163px;
    margin: 0;
  }

  .item__sixth,
  .item__eighth {
    display: block;
  }

  .item__second,
  .item__eighth {
    width: 273px;
    height: 160px;
    margin: 0;
  }

  .item__third {
    width: 301px;
    height: 165px;
  }

  .item__fourth,
  .item__seventh {
    display: block;
    width: 220px;
    height: 165px;
  }

  .item__fifth {
    display: block;
    width: 309px;
    height: 164px;
  }
  }