.subscribe-wrapper {
    width: 80%;
    display: flex;
    margin: 80px auto;
    text-align: center;
    @media (min-width: 768px) {
      width: 60%;
      justify-content: space-between;
      text-align: left;
    }
  }

  .img{
    &__desktop {
      display: none;
    }
    &__mobile {
      max-width: 355px;
      margin: 60px auto;
    }
    @media (min-width: 768px) {
      &__desktop {
        display: block;
        width: 50%;
      }
    }
  }

  .text__header {
    font-size: $fs-h3;
    font-weight: $fw-bold;
    @media (min-width: 768px) {
      margin-bottom: 17px;
    }
  }

  .form {
    display: flex;
    flex-wrap: wrap;
    margin-top: 35px;
    margin-bottom: 35px;
    &__input {
      width: 353px;
      height: 54px;
      border: none;
      border-radius: 27px;
      background-color: $c-input;
      padding-left: 39px;
    }
    @media (min-width: 768px) {
      flex-wrap: nowrap;
    }
  }

  .btn__subscribe {
    width: 353px;
    height: 54px;
    margin-top: 12px;
    @media (min-width: 768px) {
      width: 172px;
      height: 58px;
      margin-left: 12px;
      margin-top: 0;
    }
  }

  @media (min-width: 768px) {
  .img__mobile,
  .description__text--hidden {
    display: none;
  }
  
  .subscribe-form__input {
    width: 234px;
    height: 54px;
  }
  }