.subscribe-wrapper {
    width: 355px;
    display: flex;
    margin: 0 auto;
    text-align: center;
  }
  
  .subscribe-description {
    margin-top: 140px;
    margin-bottom: 140px;
  }
  
  .subscribe-img__desktop,
  .subscribe-text__desktop {
    display: none;
  }
  
  .subscribe-img__mobile {
    max-width: 355px;
    margin: 60px auto;
  }

  .subscribe-text__mobile {
    font-size: var(--fs-h2);
    font-weight: var(--fw-regular);
    margin: 24px auto;
  }
  
  .subscribe-text__headerMobile {
    font-size: var(--fs-h4);
    font-weight: var(--fw-regular);
  }
  
  .subscribe-text__header {
    font-size: var(--fs-h3);
    font-weight: var(--fw-bold);
  }
  
  .subscribe-text__paragraph {
    font-size: var(--fs-p);
    font-weight: var(--fw-regular);
    margin-bottom: 100px; /*check!!!!!!!!!!!!!!!!!!!!!!!!!*/
  }
  
  .subscribe-form__input,
  .contacts-form__input {
    width: 353px;
    height: 54px;
    border: none;
    border-radius: 27px;
    background-color: var(--c-input);
    padding-left: 39px;
  }
  
  /* .subscribe-form__btn,
  .contacts-form__btn {
    width: 353px;
    height: 54px;
    background-color: var(--c-blue);
    border: none;
    border-radius: 26px;
    color:  var(--c-white);
    font-size: var(--fs-h3);
    font-weight: var(--fw-regular);
    margin-top: 12px;
  }
  
  .subscribe-form__btn:hover {
    transform: scale(1.1);
  } */

  @media (min-width: 768px) {
      
  .subscribe-wrapper {
    width: 1240px;
    justify-content: space-around;
    text-align: left;
  }

  .subscribe-img__desktop {
    display: block;
    max-width: 677px;
  }

  .subscribe-img__mobile {
    display: none;
  }

  .subscribe-text__header {
    font-size: var(--fs-h3);
    font-weight: var(--fw-bold);
    margin-bottom: 17px;
  }

  .subscribe-text__mobile,
  .subscribe-text__headerMobile {
    display: none;
  }

  .subscribe-text__desktop {
    display: block;
    word-spacing: 48px;
    font-weight: var(--fw-regular);
    width: 324px;
    margin-bottom: 25px;
    letter-spacing: 0.2px;
  }

  .subscribe-form__input {
    width: 234px;
    height: 54px;
  }

  /* .subscribe-form__btn {
    width: 172px;
    height: 58px;
    margin-left: 12px;
    margin-top: 0;
  } */
  }