.subscribe-wrapper {
    width: 80%;
    display: flex;
    margin: 80px auto;
    text-align: center;
  }
  
  .img__desktop {
    display: none;
  }
  
  .img__mobile {
    max-width: 355px;
    margin: 60px auto;
  }

  .text__header {
    font-size: var(--fs-h3);
    font-weight: var(--fw-bold);
  }

  .form {
    display: flex;
    flex-wrap: wrap;
    margin-top: 35px;
    margin-bottom: 35px;
  }
    
  .form__input {
    width: 353px;
    height: 54px;
    border: none;
    border-radius: 27px;
    background-color: var(--c-input);
    padding-left: 39px;
  }

  .btn__subscribe {
    width: 353px;
    height: 54px;
    margin-top: 12px;
  }

  @media (min-width: 768px) {
      
  .subscribe-wrapper {
    width: 60%;
    justify-content: space-between;
    text-align: left;
  }

  .img__desktop {
    display: block;
    width: 50%;
  }

  .img__mobile,
  .description__text--hidden {
    display: none;
  }

  .text__header {
    margin-bottom: 17px;
  }

  .subscribe-form__input {
    width: 234px;
    height: 54px;
  }

  .btn__subscribe {
    width: 172px;
    height: 58px;
    margin-left: 12px;
    margin-top: 0;
  }

  .form {
    flex-wrap: nowrap;
  }
  }