.testimonials-wrapper {
    margin: 100px auto;
  }
  
  .img__brand {
    display: flex;
    margin: 95px auto 45px;
  }
  
  .avatar {
    width: 200px;
    height: 55px;
    display: flex;
    justify-content: space-between;
    margin: 60px auto 80px;
  }
 .avatar__title {
    align-items: center;
    font-size: var(--fs-h5);
    font-weight: var(--fw-regular);
    margin: 5px 0;
  }
  
  .avatar__description {
    align-items: center;
    font-size: var(--fs-link);
    font-weight: var(--fw-regular);
  }

@media (min-width: 768px) {

  .testimonials-wrapper {
    margin: 180px auto;
  }

  .img__brand {
    margin: 80px auto 60px;
  }

  .testimonials-text__description {
    width: 990px;
  }
}