footer {
    background-color: var(--c-dark);
    color: var(--c-white);
  }

  .footer-wrapper {
    padding: 150px 0;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
  }

  .footer__block {
    width: 100%;
  }
  
  .menu {
    margin: 0 auto;
  }

  .menu__title {
    font-size: var(--fs-h3);
    font-weight: var(--fw-bold);
    margin-bottom: 15px;
  }

  .location__footer {
    display: flex;
    width: 70%;
    margin: 0 auto;
  }
  
  .location__text {
    font-size: var(--fs-link);
    font-weight: var(--fw-regular);
    padding: 10px;    
    text-align: left;
  }

  .socials__footer {
    width: 170px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: var(--fs-h3);
  }

  .socials__item--footer {
    padding: 8px 0;
    color: var(--c-white);
  }

  .menu__item--padding {
    padding: 15px 0;
  }
 
  @media (min-width: 768px) {

  .footer-wrapper {
    flex-wrap: nowrap;
    width: 60%;
    text-align: left;
  }

  .socials__footer {
    margin: 0;
  }

  .location__footer {
    margin: 0;
  }

  .footer__block {
    width: calc(100%/4);
  }

  .footer-location__text {
    margin: 0;
  }
  }