footer {
    background-color: $c-dark;
    color: $c-white;
  }

  .footer-wrapper {
    padding: 150px 0;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
    @media (min-width: 768px) {
      flex-wrap: nowrap;
      width: 60%;
      text-align: left;
    }
  }

  .footer__block {
    width: 100%;
    @media (min-width: 768px) {
      width: calc(100%/4);
    }
  }
  
  .menu {
    margin: 0 auto;
  }

  .menu__title {
    font-size: $fs-h3;
    font-weight: $fw-bold;
    margin-bottom: 15px;
  }

  .location__footer {
    display: flex;
    width: 70%;
    margin: 0 auto;
    @media (min-width: 768px) {
      margin: 0;
    }
  }
  
  .location__text {
    font-size: $fs-link;
    font-weight: $fw-regular;
    padding: 10px;    
    text-align: left;
  }

  .socials__footer {
    width: 170px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: $fs-h3;
    @media (min-width: 768px) {
      margin: 0;
    }
  }

  .socials__item--footer {
    padding: 8px 0;
    color: $c-white;
  }

  .menu__item--padding {
    padding: 15px 0;
  }
 
  @media (min-width: 768px) {
  .footer-location__text {
    margin: 0;
  }
  }